.top-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: #c98a12;
    }
}

.bottom-container {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}